.poster
  position: relative
  width: 100%
  margin: 0

.poster_child // The Place to insert thumbnail image
  width: 343px
  height: 171px
  background-color: rgba(255, 0, 0, 0.5)

.header_ngcontent-fgq-c10
  
  font-family: Roboto, sans-serif
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-size: 1.25rem
  line-height: 1.625rem
  font-weight: 400
  letter-spacing: 0.0073529412em
  text-decoration: inherit
  text-transform: inherit
  color: #212121
  display: block
  margin: 0 0 8px
  line-height: 1.5rem

.header_ngcontent-fgq-c10  
  margin-top: 24px

p._ngcontent-fgq-c10
  color: #616161
  margin: 0 0 16px 0